section(layout="horizontal" layout-padding).dnsManager.clearfix

  md-sidenav(is-locked-open="$media('md')" component-id="zone-list").md-sidenav-left.md-whiteframe-z2

    md-toolbar(md-theme="grey" layout="horizontal")
      .md-toolbar-tools
        h3.zone-list-header(flex)
          span Zones

        md-button(ng-click="dm.createZone()" aria-label="Create Zone")
          span.fa-stack.fa-med
            i.fa.fa-square.fa-stack-2x.add-icon-bg
            i.fa.fa-plus.fa-stack-1x.add-icon

    md-content.md-padding
      zone-list(zones="dm.zoneModel.zoneList" selectedZone="dm.zoneModel.selectedZone")
  md-content.right-content

    ui-view
