doctype html
html(lang="en", ng-app="GcloudDns")
  head
    title Gcloud Dns
    base(href="/")
    link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
    link(rel="stylesheet", href="/vendor/angular-material/angular-material.css")
    link(rel="stylesheet", href="/app.css")
  body(ng-controller="gcloudDnsCtrl as vm", ng-cloak)
    block main-content
    include scripts