$fa-font-path: "vendor/font-awesome/fonts"
@import "../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap"
@import "../bower_components/font-awesome/scss/font-awesome"
@import "../app/layout/page-header/page-header"

body
  padding-top: 70px
  
i.add-icon
  color: $btn-success-bg
.action-bar
  button
    margin: 5px 0px 5px 10px

.list-item-icon-left
  span
    color: $gray-light
    margin-left: 10px