
md-dialog(aria-label="Confirm")
  md-content
    h2 {{ vm.model.title }}
    p {{ vm.model.message }}

  .md-actions(layout="horizontal" layout-align="end")
    md-button(ng-click="vm.cancel()" aria-label="No") NO
    md-button.md-primary(md-theme="deep-orange" ng-click="vm.confirm()" aria-label="Yes") YES
