div.welcome.jumbotron

  //img(src="/assets/images/cloud-dns-logo.png")
  div(layout="horizontal" layout-align="start end" layout-padding)
    span.fa-stack.fa-4x
      i.fa.fa-cloud.fa-stack-2x.md-blue-grey-theme
      i.fa.fa-google.fa-stack-1x.fa-inverse
    h1(flex) dns editor
  div
    p Use this application to manage your Google Cloud DNS zones.
    md-button.md-raised.md-primary(ng-click="vm.auth.login()" md-theme="deep-orange" aria-label="Login" layout-padding) Get Started
