div.zoneViewer
  h4 {{zone.dnsName}}
  small {{ zone.description }}
  dl
    dt Name:
    dd {{ zone.name }}
    dt Created:
    dd {{ zone.creationTime | moment }}
    dt Name Servers:
    dd(ng-repeat="ns in zone.nameServers") {{ ns }}