div.zoneList
  h3 DNS Zones

  div
    btn.btn.btn-sm.btn-primary(ng-click="vm.openNew()") +

  div.btn-group-vertical
    btn.btn.btn-sm.btn-default(ng-repeat="zone in vm.zoneList" ng-click="vm.selectZone(zone)") {{zone.dnsName}}
