div.zoneList
  h3 Zone List

  div.btn-group-vertical
    btn.btn.btn-sm.btn-default(ng-repeat="zone in vm.zoneList") {{zone.dnsName}}

  div
    br
    btn.btn.btn-primary(ng-click="vm.open()") Add New Zone