div.zoneList

  div.list-group
    a.list-group-item.list-item-icon-left(href="#" ng-click="vm.createZone()")
      i.fa.fa-plus-square-o.add-icon
      span new zone...
    a.list-group-item(
      href="#"
      ng-class="{active: $parent.vm.selectedZone.id == zone.id}"
      ng-repeat="zone in vm.zones"
      ng-click="vm.selectZone(zone)"
      )
      | {{zone.dnsName}}
