div.zoneList
  div
    btn.btn(ng-click="vm.createZone()")
      i.fa.fa-plus-square-o.fa-2x.add-icon

  div.list-group
    a.list-group-item(href="#" ng-class="(selectedZone == zone) ?'active':''" ng-repeat="zone in zones" ng-click="vm.selectZone(zone)")
      | {{zone.dnsName}}
