md-toolbar.md-toolbar-header
  .md-toolbar-tools(layout="row")
    md-button(ng-click="vm.openZoneList()" hide-gt-md aria-label="Zone List")
      i.fa.fa-bars
    h1(flex)
      span Google Cloud DNS

    div(layout="row" layout-align="center")
      img.img-circle.profile-img(ng-src="{{vm.auth.profile._json.picture}}", ng-if="vm.auth.isAuthenticated")
      md-button(ng-click="vm.auth.login()", ng-if="!vm.auth.isAuthenticated" aria-label="Login")
        span.fa-stack.fa-med
          i.fa.fa-square.fa-stack-2x.add-icon-bg
          i.fa.fa-lock.fa-stack-1x.add-icon

      md-button(ng-click="vm.auth.logout()", ng-if="vm.auth.isAuthenticated" aria-label="Logout")
        span.fa-stack.fa-med
          i.fa.fa-square.fa-stack-2x.add-icon-bg
          i.fa.fa-unlock.fa-stack-1x.add-icon
