md-toolbar
  .md-toolbar-tools(layout="horizontal")
    md-button(ng-click="vm.openZoneList()" hide-md aria-label="Zone List")
      i.fa.fa-bars
    h1(flex)
      span Google Cloud DNS

    div.navbar-right
      img.img-circle(ng-src="{{vm.profile._json.picture}}", ng-if="vm.authenticated")
      button.btn.navbar-btn.btn-primary(ng-click="vm.login()", ng-if="!vm.authenticated")
        i.fa.fa-lock

      button.btn.navbar-btn.btn-link(ng-click="vm.logout()", ng-if="vm.authenticated")
        i.fa.fa-unlock
