div.addZone.modal-header
  button.close(ng-click="vm.cancel()") Close
  h3 {{vm.name}}

  div.modal-body
    h4 Pop, Pop, goes the weasel!

  div.modal-footer
    button.btn.btn-default.btn-sm.pull-left(ng-click="vm.cancel()") Cancel